*{
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: 'Montserrat','Permanent Marker', cursive;;
    font-size: 14px;
}

img{
    max-width: 100%;
    height: auto;
}

.container{
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    margin-left:auto;
    margin-right: auto;
}

@media screen and (min-width: 1200px){
    .container {
        width: 1200px;
    }
}

h1{
    font-family: 'Permanent Marker';
    text-align: center;
}

.topbar{
    background-color: black;
}

.topbar .container{
   justify-content: space-between;
   line-height: 2.5;
}


.line{
    height: 0.5px;
    width: 100%;
    background-color: black;
}

.container .links i{
    margin-left: 10px;
}

.topbar .fa-user,
.fa-shopping-cart{
    color: #048467;
}

.topbar .fa-heart,
.fa-search{
    color:#c1480b
}
.header{
    height: 80px;
    top: 35px;
    width: 100%;
    z-index: 1000;
}

@media screen and (min-width:768px){
    .header{
        position: absolute;
     
    }
}

.header .container{
    text-align: center;
    height: 50px;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width:768px){
    .header .container{
        line-height: 3;
        text-align: center;
        height: 50px;
        flex-direction: row;
    }
}

.header .container img{
    width: 60px;
    height: 50px;
}

@media screen and (min-width:1200px){
    .header .container img{
        width: 60px;
        height: 50px;
    }
}

.header .container a{
    text-decoration: none;
    margin-left: 15px;
    color: black;
}

@media screen and (min-width:1200px){
    .header .container a{
        text-decoration: none;
        margin-left: 50px;
        color: black;
    }
}

.main{
    position: relative;
    left: 0; 
    top: 0;
    width: 100%;

}
.main .home{
    position: relative;
    top: 0;
    left: 0;
}

.main .chairlift{
   display: none;
}

@media screen and (min-width:1200px){
.main .chairlift{
    display: unset;
    width: 600px;
    height: 500px;
    position: absolute;
    left: 80px;
    margin-left: 500px;
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float:left;
   
}

.main .chairlift:after{
    content: '';
    position: absolute;  
    width: 20px; height: 20px;  
   
    top: -10px; left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}
/* nail */
.main .chairlift:before{
    content: '';
    position: absolute;
    width: 5px; height: 5px;
    top: -14px;left: 54%;
    z-index: 5;
    border-radius: 50% 50%;
 
}
}
@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}

.shop .container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-top: 50px;
    flex-direction: column;
}

@media screen and (min-width:1200px){
    .shop .container{
        flex-direction: unset;
        width: 100%;
    }
}

@media screen and (min-width:768px){
    .shop .container .shop-sec{
        text-align: center;
       
    }
}

@media screen and (min-width:1200px){
    .shop .container img{
        width: 450px;
        height: 450px;
        margin: 60 20px;
    
    }
}

.shop .categories .lifestyle{
    display: unset;
}


@media screen and (max-width:767px){
    .shop .categories .lifestyle{
        display: none;
    }

}

.categories{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.categories a{
    overflow: hidden;
    display: block;
    
}

.categories a img{
    width: 160px;
    height: 190px;
    margin-top: 20px;
    z-index: 10;
    position: relative;
    display: block;
    max-width: 100%;
    opacity: 1;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}
.categories a:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


@media screen and (min-width:1200px){
    .shop .container .categories img{
        width: 160px;
        height: 190px;
        margin: 10px;
        margin-top: 20px;
    }
}

.bestsellers{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.bestsellers .items{
    display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  
}

.bestsellers img{
    width: 283px;
    height: 333px;
}

.bestsellers .item{
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    position: relative;
}

@media screen and (max-width:767px){
    .bestsellers .item{
        width: 100%;
        margin: unset;
    }
}

.bestsellers .item h3{
    font-size: 10px;
}

.item p{
    position: absolute;
    margin-right: 210px;
    font-weight: bold;
}

.item button{
    border: black solid 1px;
    font-family:'Montserrat' ;
    background-color: black;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item button:hover{
    background: linear-gradient(-45deg, #c1480b, #048467 );
	background-size: 400% 400%;
	animation: gradient 3s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.insta{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;

}

@media screen and (max-width:1024px){
    .insta{
        display: none;
    }
}

@media screen and (min-width:1200px){
    .insta .photos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    
    }
}

@media screen and (min-width:1200px){
    .insta img{
        width: 12.50000%;
        height: 161px;
    
    }
}
.contact .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    background-color:  #048467;
    margin-bottom: 30px;
    position: relative;

}

@media screen and (min-width:1200px){
    .contact .container{
        height: 200px;
    
    }
}



.contact .container .form{
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    
}
.contact .container img{
    display: none;
}
@media screen and (min-width:1200px){
.contact .container img{
    display: unset;
    width: 150px;
    position: absolute;
    margin-left: 1000px;
    margin-top: 77px
}
}

@media screen and (min-width:1200px){
    .contact .container .form{
        flex-direction: row;
        text-align: left;
        align-items: unset;
    
    }
}

.form .details .box{
    width: 200px;
    height: 30px;
    background-color: white;

}


@media screen and (min-width:1200px){
    .form .details{
        margin-left: 50px;
    
    }
}

.form .message{
    flex-direction: column;
}

@media screen and (min-width:1200px){
    .form .message{
    margin-left: 100px;
    
    }
}

.form .message .box{
    width: 250px;
    height: 105px;
    background-color: white;
    margin-bottom: 5px;

}

.form .message button{
    background-color: black;
    color: white;
    border: black solid 1px;
    position: relative;
    overflow: hidden;
}

.form .message button:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
  }
  
  @keyframes ripple {
    0% {
      transform: scale(0, 0);
      opacity: 1;
    }
    20% {
      transform: scale(25, 25);
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(40, 40);
    }
  }
  
  button:focus:not(:active)::after {
    animation: ripple 2s ease-out;
  }
  

.footer{
    background-color: black;
}

.footer .container{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    flex-wrap: wrap;
    text-align: center;
}

@media screen and (min-width:1200px){
    .footer .container{
        justify-content: space-around;
       flex-wrap: nowrap;
       height: 250px;
    
    }
}

.footer .container .logo{
    width: 100%;
}

@media screen and (min-width:1200px){
    .footer .container .logo{
       width: 25%;
    
    }
}

.footer .container .item{
    display: flex;
    flex-direction: column;
    width: 50%;
}

@media screen and (min-width:1200px){
    .footer .container .item{
        width: 25%;
    
    }
}

.footer .container .item a{
    text-decoration: none;
    margin-top: 10px;
    color: white;
    
}

.footer .container .social{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 20px;
}


@media screen and (min-width:1200px){
    .footer .container .social{
        width: 25%;
        padding-top: none;
    
    }
}

.footer .container .social a{
    font-size: 30px;
    text-decoration: none;
   color: white;
    margin: 5px;

}